:root {
    // side-bar
    --side-bar--width: 200px;
    --side-bar--bg: #333;

    // search box
    --search-box--width: 275px;
}

/* Sidebar width for mobile */
@media (max-width: 768px) {
    :root {
        --side-bar--width: 60px;
    }
  }